#container {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
}

.filled {
    background-color: black;
}