/* Google's Trochut font used for the heading */
@import url('https://fonts.googleapis.com/css2?family=Trochut:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: red;
    margin: 0;
}

button {
    background-color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

h1 {
    color: gold;
    font-family: Trochut, sans-serif;
    font-size: 50px;
    font-style: italic;
    margin: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.sketch-control {
    align-items: center;
    display: flex;
    gap: 20px;
}

.sketch-pad {
    aspect-ratio: 1 / 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.square {
    flex: 1;
}

#container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
